.header{
    position: relative;
    font-size: 300%;
    top:-5%;
    color: white;
}
.logout{
    position: absolute;
    right: 10%;
    color: rgb(101, 58, 97);
    background-color:#fcfcfc;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}
.display{
    position: absolute;
    right: 20%;
    color: rgb(101, 58, 97);
    background-color:#fffcfc;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}
.edit{
    position: absolute;
    right: 15%;
    color: rgb(101, 58, 97);
    background-color:#ffffff;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}

.AppDashboard{
    width: auto;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:rgb(0, 0, 0);
    font-family: "Neucha", cursive;
  }