.header{
    position: relative;
    font-size: 300%;
    top:-5%;
}
.logout{
    position: absolute;
    right: 10%;
    color: rgb(101, 58, 97);
    background-color:#ffa8B6;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}
.display{
    position: absolute;
    right: 20%;
    color: rgb(101, 58, 97);
    background-color:#ffa8B6;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}