
.box {
    border: 3px solid transparent;
    border-radius: 0%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(#d3870d, #2f0b73) padding-box;
    width: 250px;
    height: 250px;
    padding-top: 1%;
    padding-left: 1%;
}

.column1 {
    border: 10px;
    float: left;
}

.column2 {
    border: 10px;
    float: right;
}


.title {
    display: flex;
    justify-content: center;
}