.header{
    position: relative;
    font-size: 300%;
    top:-5%;
    color: rgb(101, 58, 97);
    text-align: center;
}
.logout{
    position: absolute;
    right: 4%;
    color: rgb(101, 58, 97);
    background-color:#fcfcfc;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}
.display{
    position: absolute;
    right:12%;
    color: rgb(101, 58, 97);
    background-color:#fffcfc;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}
.createEvent{
    position: absolute;
    right: 20%;
    color: rgb(101, 58, 97);
    background-color:#ffffff;
    border-radius: 35%;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}

.AppDashboard{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:coral;
    font-family: "Neucha", cursive;
  }
