.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker-ignore-onclickoutside
 {
    text-align: center;
    display: block;
}

/* .react-datepicker-wrapper,
.react-datepicker__input-container
 {
    text-align: center;
    position: relative;
    width: 80%;
} */