@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.LoginPage-header{
    margin-top: 5%;
    font-weight: bolder;
}

.welcomeLink{
    margin-top: 3%;
    position: absolute;
    color: rgb(101, 58, 97);
    text-align: center;
    width: 90px;
    height: 20px;
    border: 2px solid rgb(3, 59, 21);
}

.App-header{
    margin-top: 5%;
    font-size: 40px;
    text-transform: uppercase;
    color:#6e3232;
    z-index: 1;
    text-align: center;
    font-weight: bolder;
  }

.text{
    margin-top: 25px;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
}
.eventCreationForm{
    margin-bottom:10%;
    border: 3px solid transparent;
    border-radius: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background:  #de8896;
    width: 500px;
    height: 500px;
    padding-top: 1%;
    padding-left: 1%;
}