@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.LoginPage-header{
    margin-top: 5%;
    font-weight: bolder;
}

.welcomeLink{
    margin-top: 3%;
    position: absolute;
    color: rgb(101, 58, 97);
    text-align: center;
    width: 90px;
    height: 20px;
    border: 2px solid rgb(3, 59, 21);
}

.App-header{
    margin-top: 5%;
    font-size: 40px;
    text-transform: uppercase;
    color:#6e3232;
    z-index: 1;
    text-align: center;
    font-weight: bolder;
  }

.text{
    margin-top:5%;
    font-size: 19px;
    text-align: center;
}
.eventEditingForm{
    border: 3px solid transparent;
    border-radius: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background:  #de8896;
    width: fit-content;
    height: 350px;
    padding-top: 1%;
    padding-left: 1%;
}

.title{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
}

.host{
    margin-bottom:5%;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
}

.date{
    margin-bottom:5%;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
}
.location{
    margin-bottom:5%;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
}
.description{
    margin-bottom:5%;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
}

.eventEditPageButton{
    margin-right: 120px;
    color: rgb(101, 58, 97);
    background-color:#e9b1bb;
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Neucha", cursive;
}