.RsvpBody{
    padding: 0%;
    position: relative;
    display:inline-block;
    padding-left: 5%;
    padding-right: 5%;

}

.header{
    position: relative;
    font-size: 300%;
    color: white;
}

.AppDashboard{
    width: auto;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:rgb(235, 146, 146);
    font-family: "Neucha", cursive;
    min-height: 100vh;
    padding-bottom: 3%;
}