body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.datetime
.rc-time-picker
.rc-time-picker-clear
 {
  line-height: 15px;
}

.datetime
.rc-time-picker
.rc-time-picker-input {
  height: 23px;
  cursor: text;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 2px dashed rgb(219, 124, 240);
  border-radius: 8px;
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.datetime
.react-datepicker-wrapper
.react-datepicker__input-container
.react-datepicker-ignore-onclickoutside{
  height: 17px;
  cursor: text;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 2px dashed rgb(219, 124, 240);
  border-radius: 8px;
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
